@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Reenie+Beanie&display=swap');
*{
  margin:0; /* Resetear valor */
  padding:0; /* Resetear valor */
 }

 body{
  background: rgba(41,64,98,255);
 }
 h2,p{
  font-size:100%;
  font-weight:normal;
 }
 ul,li{
  list-style:none; /* quito el punto de la lista */
 }
 ul{
  overflow:hidden;  /* ocultar el texto que salga de la Nota */
  padding:3em;
 }
 ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;  /* genera un bloque por cada li */
  height:20em; /* altura de la Nota */
  width:20em;  /* anchura de la Nota */
   /* espacio entre texto de las Notas */
 }
 ul li{
  margin:1em;  /* espacio entre las notas */
  float:left;  /* alinear notas */
 }

 ul li h2{
  font-size:100%;  /* aumento el tamaño de la fuente */
  font-weight:bold;  /* la pongo en negrita */
  padding-bottom:10px;  /* espacio inferior del texto */
 }
 ul li p{
  font-size:100%;  /* aumento el tamaño de la fuente */
 }

 ul li a{
  text-decoration:none;
  color:#000;
  background:rgb(63, 23, 184);
  display:block;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  border-radius: 5%;
 }

 ul li a{
  text-decoration:none;
  color:#282828;
  background: rgba(246,247,249,255);
  display:block;
  /* height:30em; */
  width:17em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
 }

 .outside-box{
  background-color: cornflowerblue;
 }

.titulo{
  padding: 0.5em 1em;
  color: white;
  background-color: rgba(239,94,99,255);
}

.nombre-mesa{
  display: flex;
  justify-content: space-between;
}

.ticket .pedido .titulo {
  display: none;
   /* Oculta todos los elementos con la clase 'titulo' */
}

.ticket .pedido:first-child {
  display: block; 
  .titulo {
    display: block;
  }
} 

.platos {
  font-size: 120%;
  padding: 0.2em 1em;
  .notas{
    font-size: 100%;
    padding: 0em 1em;
    color: #646464;
  }
}


